@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

.bg-gray-background {
    background-color: #f7f8fc !important;
}

.btn {
    @apply flex items-center justify-center w-1/2  text-sm rounded-xl bg-gray-200 py-4 hover:bg-gray-400 transition duration-150 ease-in-out
}

.btn-blue {
    @apply flex items-center justify-center w-1/2  text-sm rounded-xl bg-blue-600 py-4 hover:bg-blue-700 text-white transition duration-150 ease-in-out
}

.card {
    @apply bg-white rounded-xl mt-8
}

.comments-container::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -40px;
    height: 100%;
    width: 3px;
    background: #78909c;
    opacity: 0.7;
}

.comment-container::after {
    content: "";
    position: absolute;
    display: block;
    top: 0px;
    left: -29px;
    height: 100%;
    width: 2px;
    background: #78909c;
    opacity: 0.7;
    rotate: 90deg;
    z-index: -1;
}
